[Desktop Entry]
Type=Application
Name=Lantern
Exec=lantern
Icon=lantern
Comment=uncensored network access application, internet unblocker, VPN, Proxy
Categories=Network;Internet;Networking;Privacy;
