[Desktop Entry]
Name=OpenWebRX-RTLSDR Direct Sampling
GenericName=OpenWebRX-RTLSDR Direct Sampling
Comment=Web Based SDR Interface
Exec=/usr/local/sbin/openwebrx/openwebrx-dsamp.sh
Icon=openwebrx-avatar
Terminal=false
Type=Application
Categories=Network;HamRadio;
