[Desktop Entry]
Name=RTL-SDR Controller
GenericName=RTL-SDR Controller
Comment=Start and stop RTL-SDR devices in QtRadio.
Exec=gnome-terminal -e '/usr/local/sbin/rtlsdr-controller.sh'
Type=Application
Icon=QtRadio
Terminal=false
NoDisplay=false
StartupNotify=false
Terminal=0
TerminalOptions=
Categories=HamRadio;Audio;Video;Network;SDR;Software Defined Radio;HPSDR;
